*{
    margin: o ;
    padding: 0 ;
    font-size: 16px ;
    font-weight: normal ;
}

body{
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1070px;
    margin: 0 auto;
}

.header{
    background: rgba(255, 113, 67, 0.27);
    padding: 38px 0px 48px;
}

.nav_li{
    display:inline-block;
}

.nav_li:not(:first-of-type){
    margin-left: 49px;
}

.nav_link{
font-weight:bold;
font-size: 15px;
line-height: 20px;
letter-spacing: -0.468947px;
color: #696871;
text-decoration: none;
}

.nav_link:hover{
    color: black;
    transition: 300ms;
}

.button{
    width: 212px;
    height: 60px;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.531474px;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn1{
    background: #FF7143;
}

.btn1:hover{
    transition: 500ms;
    background: #5c1b06;
}

.footer{
    background:  rgba(255, 113, 67, 0.27);
}

.section_title{
    font-weight: 700;
font-size: 80px;
line-height: 77px;
letter-spacing: -2.50105px;
color: #19191B;
max-width: 467px;
margin-bottom: 30px;
}

.section_text{
    font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.625263px;
color: #696871;
max-width: 464px;
margin-bottom: 50px;
}

.btn2{
    background: #5454D4;
}

.btn3{
    background: none;
    color:#5454D4;
    border: 1px solid #5454D4;
    margin-left: 35px;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 104px auto 85px;
}

.footer{
    padding: 53px 30px;
}

.container_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}